version: '3'

services:

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./src/testingtool/static:/static
      - ./src/testingtool/media:/media
      - ./nginx/testingtool.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - django

  django:
    env_file: .dev_env
    environment:
      - DJANGO_SETTINGS_MODULE=testingtool.settings.dev

    build:
      context: ./src/dockerfiles
      dockerfile: dev

    depends_on:
      - db
    volumes:
      - ./src:/app

    command: gunicorn testingtool.wsgi:application -t 3600 -w 2 -b :8000 --reload

  db:
    env_file: .dev_env
    image: postgres:9.6
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"

  redis:
    image: redis:3.2

  celery:
    build:
      context: ./src/dockerfiles
      dockerfile: dev
    command: celery worker -A testingtool -l info
    depends_on:
      - redis
    env_file: .dev_env
    volumes:
      - ./src:/app
