version: '3'

services:

  report_builder:
    build:
      context: ./dockerfiles/Report_Builder
      dockerfile: Dockerfile
    command: node scripts/test.js
    volumes:
      - ./src/results:/data
