version: '3'

services:
    vrtapp:
      build:
          context: ./dockerfiles/VRTApplication
          dockerfile: Dockerfile
      container_name: vrt-applicaction
      ports:
          - 8081:80
      volumes:
          - ./src/results/screenshots/cucumber:/screenshots
