version: '3'

services:

  stryker:
    build:
      context: ./dockerfiles/Stryker
      dockerfile: Dockerfile
    command: npm run stryker
    volumes:
      - ./src/results/stryker:/reports

  mdroidplus:
    build:
      context: ./dockerfiles/MDroidPlus
      dockerfile: Dockerfile
    container_name: mdroidplus
    command: java -jar MDroidPlus-1.0.0.jar libs4ast/ /app_src it.feio.android.omninotes /mutants ./ false
    volumes:
      - ./src/mdroidplus/app_src:/app_src
      - ./src/mdroidplus/mutants:/mutants

  android-builder:
      build:
          context: ./dockerfiles/Android_Builder
          dockerfile: Dockerfile
      container_name: android-builder
      command: sh -c /scripts/compile.sh
      volumes:
          - ./src/android-builder:/application
