version: '3'

services:
  vrtapp:
    build:
        context: ./dockerfiles/VRTApplication
        dockerfile: Dockerfile
    container_name: vrt-applicaction
    environment:
        - TEST_PLAN=1
    ports:
        - 8083:80
    volumes:
        - ./src/results/screenshots:/var/www/html/screenshots
