version: '3'

services:

  cypress-chrome:
    build:
      context: ./dockerfiles/Cypress_Electron_Chrome67
      dockerfile: Dockerfile
    command: cypress run --browser chrome --project /test
    volumes:
      - ./src/cypress:/test
      - ./src/results/jsons:/reports

  cypress-electron:
    build:
      context: ./dockerfiles/Cypress_Electron_Chrome67
      dockerfile: Dockerfile
    command: cypress run --project /test
    volumes:
      - ./src/cypress:/test
      - ./src/results/jsons:/reports

  report_builder:
      build:
          context: ./dockerfiles/Report_Builder
          dockerfile: Dockerfile
      command: node scripts/test.js
      depends_on:
          - nginx
      volumes:
          - ./src/results:/data

  nginx:
      build:
          context: ./dockerfiles/Nginx
          dockerfile: Dockerfile
      ports:
          - 80:80
      volumes:
          - ./src/results/reports:/reports

  webdriverio:
      build:
        context: ./dockerfiles/WebdriverIO_Chrome_Firefox
        dockerfile: Dockerfile
      depends_on:
          - chrome
          - firefox
          - hub
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      volumes:
          - ./src/webdriverio:/app
          - ./src/results/jsons:/reports

  webdriverio-gremlins:
      build:
        context: ./dockerfiles/WebdriverIO_Chrome_Firefox
        dockerfile: Dockerfile
      depends_on:
          - chrome
          - hub
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      volumes:
          - ./src/webdriverio-gremlins:/app
          - ./src/results/jsons:/reports

  webdriverio-cucumber:
      build:
        context: ./dockerfiles/WebdriverIO_Chrome_Firefox
        dockerfile: Dockerfile
      depends_on:
          - chrome
          - hub
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      volumes:
          - ./src/webdriverio-cucumber:/app
          - ./src/results/jsons:/reports

  resemblejs:
      build:
        context: ./dockerfiles/ResembleJS
        dockerfile: Dockerfile
      command: npm run test
      volumes:
        - ./src/resemblejs:/test

  mdroidplus:
      build:
        context: ./dockerfiles/MDroidPlus
        dockerfile: Dockerfile
      command: java -jar MDroidPlus-1.0.0.jar libs4ast/ /app_src org.gnucash.android /mutants ./ false
      volumes:
        - ./src/mdroidplus/app_src:/app_src
        - ./src/mdroidplus/mutants:/mutants

  android-builder:
      build:
        context: ./dockerfiles/Android_Builder
        dockerfile: Dockerfile
      command: sh -c /scripts/compile.sh
      volumes:
        - ./src/android-builder:/application

  hub:
      image: selenium/hub
      ports:
          - 4444:4444

  firefox:
      image: selenium/node-firefox
      ports:
          - 5900
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      depends_on:
          - hub

  chrome:
      image: selenium/node-chrome
      ports:
          - 5900
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      depends_on:
          - hub
