version: '3'

services:

  stryker:
    build:
      context: ./dockerfiles/Stryker
      dockerfile: Dockerfile
    command: npm run stryker
    # npm run stryker
    # volumes:
    #   - ./src/stryker/js:/app/js
    #   - ./src/stryker/test:/app/test
