version: '3'

services:

  mdroidplus:
    build:
      context: ./dockerfiles/MDroidPlus
      dockerfile: Dockerfile
    command: java -jar MDroidPlus-1.0.0.jar libs4ast/ /app_src org.gnucash.android /mutants ./ false
    volumes:
      - ./src/mdroidplus/app_src:/app_src
      - ./src/mdroidplus/mutants:/mutants
