version: '3'

services:

  cypress:
    build:
      context: ./dockerfiles/Cypress_Electron_Chrome67
      dockerfile: Dockerfile
    command: cypress run --project /test  --browser chrome
    volumes:
      - ./src/cypress:/test
      - ./src/results/jsons:/reports
