version: '3'

services:

  cypress:
    build:
      context: ./dockerfiles/Cypress_Electron_Chrome67
      dockerfile: Dockerfile
    command: /node_modules/cypress/bin/cypress run --project '/test' --browser chrome --reporter junit --reporter-options "mochaFile=results/output.xml,toConsole=true"
    volumes:
      - ./src/cypress:/test
