version: '3'

services:

  report_builder:
    build:
      context: ./dockerfiles/Report_Builder
      dockerfile: Dockerfile
    command: node scripts/test.js
    volumes:
      - ./src/results:/data

  webdriverio-cucumber:
      build:
        context: ./dockerfiles/WebdriverIO_Chrome_Firefox
        dockerfile: Dockerfile
      depends_on:
          - chrome
          - hub
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      volumes:
          - ./src/webdriverio-cucumber:/app
          - ./src/results/jsons:/reports

  hub:
      image: selenium/hub
      ports:
          - 4444:4444

  chrome:
      image: selenium/node-chrome
      ports:
          - 5900
      environment:
          - HUB_PORT_4444_TCP_ADDR=hub
          - HUB_PORT_4444_TCP_PORT=4444
      depends_on:
          - hub
